$color-soft-black: #34363c !default;
$color-sand-beige: #e8e8e3 !default;
$color-sand-beige-half: rgba($color-sand-beige, 0.5) !default;

$table-cell-padding-x: 1rem !default;
$table-cell-padding-y: 0.5rem !default;

$navbar-sidebar-bg: $color-soft-black !default;
$table-bg: $color-sand-beige !default;
$table-header-row-bg: #f3f3f1 !default;
$table-row-bg-1: #f1f1ef !default;
$table-row-bg-2: #f3f3f1 !default;

$table-border-radius: 1rem !default;
$placeholder-gray: #868e96 !default;
