@use 'sass:color';
@use 'variables' as *;
@use 'button' as *;
@use 'input' as *;
@use 'login' as *;
@use 'paginator' as *;
@use 'table' as *;
@use 'modal' as *;
@use 'select' as *;

h1 {
  color: $color-soft-black !important;
}

body {
  background-color: #e8e8e3 !important;
  overscroll-behavior: none;
  //font-size: 14px !important;
}

html {
  font-size: 14px !important;
}

.page-frame {
  display: flex;
}

.page-content {
  position: relative;
  flex-grow: 1;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: $table-bg;
  border-radius: 1rem;
}

.app-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #34363c;
}

.bg-sidebar {
  background-color: $navbar-sidebar-bg !important;
  color: contrast($navbar-sidebar-bg) !important;
}

.topnav,
.navbar.bg-sidebar {
  background-color: $navbar-sidebar-bg !important;
  color: contrast($navbar-sidebar-bg) !important;
}

.bg-sidebar a,
.bg-sidebar .nav-link {
  text-decoration: none !important;
}

input.form-control.disabled-field {
  background-color: #bfbcbe !important;
  cursor: not-allowed;
}

.no-wrap {
  white-space: nowrap;
}

.clickable-cell {
  cursor: pointer !important;
}

$placeholder-gray: #868e96 !default;

.placeholder-muted {
  color: $placeholder-gray !important;
}

.comment-text {
  display: block;
  max-width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer !important;
}

.employee-comment-text {
  display: block;
  max-width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body,
html {
  height: 100%;
  margin: 0;
  background-color: $navbar-sidebar-bg !important;
}
