@use 'sass:color';
@use 'variables' as *;
@use 'button' as *;
@use 'input' as *;
@use 'login' as *;
@use 'paginator' as *;
@use 'table' as *;
@use 'modal' as *;
@use 'select' as *;
@use 'sidebar' as *;

html, body {
  height: 100%;
  margin: 0;
  font-size: 14px !important;
  background-color: $navbar-sidebar-bg !important;
  overscroll-behavior: none;
  //font-size: 14px !important; - kontrollerer font size i hele appen
}

h1 {
  color: $color-soft-black !important;
}

.page-frame {
  display: flex;
}

.page-content {
  position: relative;
  flex-grow: 1;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: $table-bg;
  border-radius: 1rem;
}

.app-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #34363c;
}

.no-wrap {
  white-space: nowrap;
}

.placeholder-muted {
  color: $placeholder-gray !important;
}

.comment-text,
.employee-comment-text {
  display: block;
  max-width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-text {
  cursor: pointer !important;
}
